<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
</head>
<body>
    <!-- Main heading -->
    <h1>Contact Us</h1>

    <!-- Contact information -->
    <p>For any information, please feel free to contact James Khumalo.</p>
    <p>Email Address: khumalocraft@gmail.com</p>
    <p>Cell phone number: 060 837 9717</p>

    <!-- Navigation links -->
    <nav>
        <a asp-action="Index">Home</a> |
        <a asp-action="About">About Us</a> 

    </nav>
</body>
</html>